 <mat-menu #childMenu="matMenu" [overlapTrigger]="false" class="menu-item">
    <span *ngFor="let child of items">
      <!-- Handle branch node menu items -->
      <span *ngIf="child.submenu && child.submenu.length > 0">
        <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
          <mat-icon>{{child.icon}}</mat-icon>
          <span>{{child.text.toUpperCase()}}</span>
        </button>
        <fw-menu-item #menu [items]="child.submenu"></fw-menu-item>
      </span>
      <!-- Handle leaf node menu items -->
      <span *ngIf="!child.submenu || child.submenu.length === 0">
        <button mat-menu-item  color="primary" [routerLink]="child.route">
          <mat-icon>{{child.icon}}</mat-icon>
          <span>{{child.text.toUpperCase()}}</span>
        </button>
      </span>
    </span>
  </mat-menu>
