<form [formGroup]="societyUserForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="society-user-card">
    <mat-card-header>
      <mat-card-title>Society User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <span>User Status </span>
          <mat-checkbox formControlName="isActive">Active</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Society Name" formControlName="societyName" [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let society of societyList$ | async" [value]="society.name" (onSelectionChange)="getBuildingsInSociety($event, society)">
                {{society.name}}, {{society.city}} , {{society.area}}

              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Building" formControlName="buildingId" required>
              <mat-option [value]="null">Select</mat-option>
              <ng-container *ngFor="let building of buildings$ | async">
                <mat-option [value]="building.id" (onSelectionChange)="getFlatsInSocietyBuilding($event, building)">{{building.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Flat" formControlName="flatId" required>
              <mat-option [value]="null">Select</mat-option>
              <ng-container *ngFor="let flat of flats$ | async">
                <mat-option [value]="flat.id">{{flat.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First  Name" formControlName="firstName" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last Name" formControlName="lastName" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" required>
          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Role" formControlName="roleId" required>
              <mat-option [value]="null">Select</mat-option>
              <ng-container *ngFor="let role of roles$ | async">
                <mat-option [value]="role.id">{{role.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Phone Number(mobile)" formControlName="phoneNumber" required>
            </mat-form-field>
          </div>
      </div>

    </mat-card-content>
  </mat-card>
</form>
