/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  font-family: Roboto, "Helvetica Neue",'Open Sans', sans-serif;
}
/* Info: Seems like mat classes needs to be put in styles.css to take effect instead of in corr component css */
.mat-header-cell.text-center *{
  text-align: center;
}

.showSnackBar.mat-snack-bar-container {
  background: gold;
  border: 1px solid #b1e593;
  color: purple;
  min-width: auto;
  max-width: 100%;
  padding-top: 1px;
}

/*** User Top Info ***/
/* .user-container .mat-button-wrapper {
  display: flex;
  align-items: center;
} */

.user-dropdown {
  position: relative;
  top: 13px;
  overflow: initial !important;
  left: 47px;
  width: 184px;
}


  .user-dropdown .mat-menu-item {
    border-bottom: 1px solid #dcded9;
    color: #004267;
    font-size: 15px;
    font-family: 'maven_promedium', sans-serif;
  }

  .user-dropdown .mat-menu-content:before {
    top: -20px;
    right: 9px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
  }

  .user-dropdown .mat-menu-content {
    margin: 0 4px;
    padding: 6px 0;
  }

  .user-dropdown .mat-menu-item:last-child {
    border: none;
  }

/* ToDO: Commented for now - W/o this animation doesn't work */
/*  router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
 */

