/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  font-family: Roboto, "Helvetica Neue",'Open Sans', sans-serif;
}
/* Info: Seems like mat classes needs to be put in styles.css to take effect instead of in corr component css */
.mat-header-cell.text-center *{
  text-align: center;
}

.showSnackBar.mat-snack-bar-container {
  background: gold;
  border: 1px solid #b1e593;
  color: purple;
  min-width: auto;
  max-width: 100%;
  padding-top: 1px;
}

/* ToDO: Commented for now - W/o this animation doesn't work */
/*  router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
 */

