:host {
  display: flex;
  background-color: #f0fff0;
  flex-grow: 1;
}

.body-style {
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
}

fw-side-nav {
  width: 200px;
}

.spinner-active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.spinner-active .mat-spinner {
  left: 50%;
  top:50%;
  z-index: 9999;
}
