
<!--For Small Screens-->
<div *ngIf="screenService.isBelowLarge()" class="title-bar-small">
  <mat-icon (click)="menuService.toggleLeftSideMenu()">menu</mat-icon>
<div class="small-image-holder">
  <img class="small-image" src="assets/Apollo-Logo.png">
</div>
<div>
  <fw-top-bar>
  </fw-top-bar>
</div>
</div>

<!--For Large Screens-->
<div *ngIf="screenService.isLarge()" class="title-bar user-title-bar">
  <img src="assets/Apollo-Logo.png" alt="Apollo Logo">
  <div class="menu-area" >
    <!-- Top Bar-->
     <fw-top-bar>
     </fw-top-bar>
     <!-- Menu -->
     <fw-menu>

     </fw-menu>
  </div>
</div>
