:host {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;



  /* margin-left: 16px;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 15px;
  line-height: 15px;
  color: #666;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%; */
}

/* :host(.vertical-menu) {
  display: inline-block;
  width: 200px;
  padding-left: 4px;
  flex-grow: 0;
  background-color: #555;
  overflow: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
} */

button {
/*  color: #666;
  font-size: 15px;
  line-height: 15px;

  width: auto
  color: #333; */
}
