@model ForgotPasswordViewModel



<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <fieldset>
             <div class="row">
                <div class="col-md-5 ">
                    <div >
                        <div >
                            <h1 >Forgot Password</h1>
                        </div>
                        <div >
                            @if (Model != null && ViewContext.ModelState.IsValid)
                            {
                                <div >
                                    Reset password email has been sent to your registered Email ID: <span class="mavenProMedium">'@Model.Email'</span>

                                    <span >Please proceed with <a href="Login">Login</a></span>
                                </div>
                            }
                            else
                            {
                                <div class="form-group ">
                                    <label asp-for="Email"></label>
                                    <input class="form-control" placeholder="Email" asp-for="Email" autofocus />
                                </div>
                                @Html.Partial("_ValidationSummary")
                                <div class="form-group">
                                    <button class="btn btn-primary"type="submit" title="Send">Send</button>
                                    @*<a href="Login" class="hyperLink alignItemCenter mt-4">Back to Login</a>*@
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        
    </fieldset>
</form>	