<form [formGroup]="supportUserForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="support-user-card">
    <mat-card-header>
      <mat-card-title>Support User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <span>User Status </span>
          <mat-checkbox formControlName="isActive">Active</mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First Name" formControlName="firstName" required>
            <mat-error *ngIf="supportUserForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last Name" formControlName="lastName" required>
            <mat-error *ngIf="supportUserForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email " formControlName="email" required>
            <mat-error *ngIf="supportUserForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Phone Number(mobile) " formControlName="phoneNumber" required>
            <mat-error *ngIf="supportUserForm.controls['phoneNumber'].hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <h4>Please Select Application & Role</h4>
      <!-- <mat-card-title>Shipping Information</mat-card-title> -->
      <div formArrayName="userApplicationRole" *ngFor="let appRole of userApplicationRole.controls; let i =index">
        <div [formGroupName]="i">

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select formControlName="applicationId" placeholder="Application" (selectionChange)="getRolesForApplication($event.value, i)"
                  required>
                  <mat-option [value]="null">Select</mat-option>
                  <ng-container *ngFor="let app of applicationList">
                    <mat-option [value]="app.id">{{app.name}}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error *ngIf="hasErrors('userApplicationRole.' + i + '.applicationId')">{{this.getValidationMessage('userApplicationRole.' + i + '.applicationId')}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select formControlName="roleId" placeholder="Role" required>
                  <mat-option [value]="null">Select</mat-option>
                  <ng-container *ngFor="let role of this.appRolesListArray[i] ">
                    <mat-option [value]="role.id">{{role.name}}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error *ngIf="hasErrors('userApplicationRole.' + i + '.roleId')">{{this.getValidationMessage('userApplicationRole.' + i + '.roleId')}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <ng-container *ngIf="i > 0">
                <button mat-fab type="button" (click)="confirmDeleteAppRole(i)" [disabled]="operation===read">
                  <mat-icon>remove</mat-icon>
                </button>
              </ng-container>
              <ng-container *ngIf='!isMaxLength'>
                <button type="button" mat-fab (click)="addAppRole()" [disabled]="operation===read">
                  <mat-icon>add</mat-icon>
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <mat-error *ngIf="hasErrors('userApplicationRole')">{{this.getValidationMessage('userApplicationRole')}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="operation===read">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
