<div class="container-fluid pt-4">
  <h1 class="mainHeading mb-4 pb-0 borderBottomNone">
    {{ (this.operation === 'create') ? "Set New Permissions" : "Edit Permissions" }}</h1>
  <form [formGroup]="permissionForm">
    <div class="row customeRow">
      <div class="form-group col-md-4 col-lg-3">
        <mat-form-field>
          <mat-select placeholder="Application Name" name="Application Name" formControlName="userApplication" required>
            <mat-option *ngFor="let app of applicationList" [value]="app.id">{{app.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group mb-0 col-md-4 col-lg-3">
        <mat-form-field>
          <mat-select placeholder="Role Type" name="Role Type" formControlName="userRole" [required]>
            <mat-option *ngFor="let role of applicationRolesList$ | async" [value]="role.roleId">{{role.roleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <h6 class="blackText pt-4 pb-2">
      Set Permissions
    </h6>
    <div class="form-group mb-0">
      <table class="table profileList genericTable mb-0">
        <thead>
          <tr class="title-Bar">
            <th class="iconTH"></th>
            <th class="moduleTH">Modules</th>
            <th class="subModuleTH">Sub-Modules</th>
            <th class="subSubModuleTH">Sub Sub-Modules</th>
            <th class="readAccessTH">Read-Only</th>
            <th class="fullAccessTH">Full Access</th>
          </tr>
        </thead>
        <tbody>
          <ng-container formArrayName="featureDetails" *ngFor="let feature of featureDetails.controls; let i =index">
            <ng-container [formGroupName]="i">
              <tr class="featureName">
                <td class="iconTH">
                  <div class="ml-1 transparent-circle" *ngIf="getFirstLevelSubFeatureDetails(i).controls.length > 0">
                    <div class="material-icons plusIcon" aria-hidden="true"
                      *ngIf="featureDetails.controls[i].get('isExpanded').value === false">add</div>
                    <div class="material-icons minusIcon" aria-hidden="true"
                      *ngIf="featureDetails.controls[i].get('isExpanded').value === true">remove</div>
                  </div>
                </td>
                <td class="moduleTH">
                  <!-- {{featureDetails.controls[i].get("description").value}} -->
                  {{feature.get('description').value}}
                </td>
                <td class="subModuleTH">&nbsp;</td>
                <td class="subSubModuleTH">&nbsp;</td>
                <td class="readAccessTH">
                    <mat-checkbox class="checkAll" formControlName="isModuleReadOnly"></mat-checkbox>
                  </td>
                  <td class="fullAccessTH">
                    <mat-checkbox class="checkAll" formControlName="isModuleFullAccess"></mat-checkbox>
                  </td>
              </tr>

              <ng-container formArrayName="subFeature"
                *ngFor="let firstLevelSubfeature of getFirstLevelSubFeatureDetails(i).controls; let j =index">
                <ng-container [formGroupName]="j">
                  <tr class="subFeatureName" *ngIf="getFirstLevelSubFeatureDetails(i).controls.length > 0 ">
                      <td class="iconTH" >
                          <div class="ml-1 transparent-circle subPart" *ngIf="getFirstLevelSubFeatureDetails(i).controls[j].get('subFeature').length > 0">
                               <span class="material-icons minusIcon" aria-hidden="true" >remove</span>
                            </div>
                      </td>
                    <td class="moduleTH">
                      {{firstLevelSubfeature.get('description').value}}
                    </td>
                    <td class="subSubModuleTH">&nbsp;</td>
                    <td class="readAccessTH">
                      <mat-checkbox class="checkAll" formControlName="isReadOnly" >
                      </mat-checkbox>
                    </td>
                    <td class="fullAccessTH">
                      <mat-checkbox class="checkAll" formControlName="isFullAccess" >
                      </mat-checkbox>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </form>
</div>
